{% extends "base.html" %}
{% load static %}
{% block title %}Listado Libros Favoritos{% endblock title %}
{% block contenido %}

    <section class="listado_libro_cliente">
        <div class="completo_seccion_libro_cliente">
            <div class="titulo_listado">
                <p>Listado de Libros Favoritos</p>
            </div>
            <hr>
            <div class="container">
                <div class="row justify-content-center">
                    {% if object_list %}
                        {% for libro in object_list %}
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                                <div class="card_paquete">
                                    <div class="img_paquete">
                                        <img src="/media/{{ libro.libro.foto }}" alt="">
                                        <div class="mostrar_paquete">
                                            <a href="{% url 'Detalle_Libro' libro.libro.pk %}"><i class="bi bi-eye-fill"></i></a>
                                        </div>
                                    </div>
                                    <div class="descripcion_paquete">
                                        <div class="locacion_paquete">
                                            <p><i class="fas fa-bolt"></i> {{ libro.libro.nombre }}</p>
                                        </div>
                                        <div class="tiempo_estancia_paquete">
                                            <p>{{ libro..libro.autor }}</p>
                                        </div>
                                        <div class="precio_paquete">
                                            <p>$ {{ libro.libro.precio }}</p>
                                        </div>
                                        <div class="acciones_paquete">
                                            <form action="{% url 'Crear_Carrito' %}" method="post" class="formulario_carrito">
                                                {% csrf_token %}
                                                <input type="hidden" name="user" value="{{ request.user.pk }}">
                                                <input type="hidden" name="libro" value="{{ libro.libro.pk }}">
                                                <select class="form-control" name="cantidad" id="cantidad_libro">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                                <button type="submit" class="btn btn-outline-success">
                                                    <i class="bi bi-cart4"></i>
                                                </button>
                                            </form>
                                            <button type="button" onclick="EliminarFavorito('{% url "Eliminar_Favorito" libro.pk %}')" class="btn btn-outline-danger">
                                                <i class="bi bi-heartbreak-fill"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <h1>No existen objetos actuales o no coinciden las características de Búsqueda</h1>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
    <div class="modal fade" id="eliminar_favorito" role="dialog">
    
    </div>
{% endblock contenido %}
{% block javascript %}

<script type="application/javascript">
    function EliminarFavorito(url){
        $('#eliminar_favorito').load(url, function(){
            $('#eliminar_favorito').modal('show');
        });
    }
</script>

{% endblock javascript %}